USE [master]
GO
/****** Object:  Database [Jews]    Script Date: 30.05.2023 17:24:48 ******/
CREATE DATABASE [Jews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jews', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Jews.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Jews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jews]
GO
/****** Object:  Table [dbo].[jewels]    Script Date: 30.05.2023 17:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jewels](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[price] [int] NULL,
	[type] [varchar](50) NULL,
	[kol-vo] [int] NULL,
 CONSTRAINT [PK_jewels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.05.2023 17:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[Thing] [varchar](50) NULL,
	[Kol_vo] [int] NULL,
	[time] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register]    Script Date: 30.05.2023 17:24:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[id] [int] NULL,
	[login_user] [varchar](50) NULL,
	[password_user] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[jewels] ([id], [name], [price], [type], [kol-vo]) VALUES (1, N'Смешное кольцо', 15555, N'Кольца', 2)
INSERT [dbo].[jewels] ([id], [name], [price], [type], [kol-vo]) VALUES (2, N'Что-то', 14000, N'Что-то', 4)
GO
INSERT [dbo].[Orders] ([id], [name], [Thing], [Kol_vo], [time]) VALUES (1, N'Dude', N'2', 15, 365)
INSERT [dbo].[Orders] ([id], [name], [Thing], [Kol_vo], [time]) VALUES (228, N'Крутой парент', N'0', 12, 15)
GO
INSERT [dbo].[register] ([id], [login_user], [password_user]) VALUES (NULL, N'admin', N'admin')
GO
USE [master]
GO
